*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: grid;
    background-color: black;
    color: whitesmoke;
}

.menu{
  display:flex;
  width: 100%;
  min-height: 5%; /*--*/
  flex-wrap: wrap;
  justify-content: space-between;
  backdrop-filter: blur(30px);
  position: fixed;
}
.menu ul{
    display:flex;
    align-items: right;
    justify-content: center;
    text-align: right;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-right: 40px;
}
.menu li{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    margin-right:35px;
      
}
.menu img{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    height: 60px;
    margin-top: 15px;
    margin-left: 40px;
    
}
.menu a{
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    text-decoration: none;
    font-size: 22px;
    font-weight:450;
}
span{
    color: hwb(203 0% 0%);
}

.section0{
    text-align: center;
    align-items: center;
    padding-top: 300px;
    padding-bottom: 50px;
    background-image: url(/Assets/section0.png);
    width: 700px;
    height: 700px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 80px;
    background-position: center;
    background-size: cover;
}
.section0 h1{
    font-size: 90px;
    margin-top: 130px;
    font-weight: bold;
    background: linear-gradient(rgb(108, 108, 112), whitesmoke); -webkit-background-clip: text;
  color: transparent;
}
.section0 h2{
    font-weight:400;
    margin-bottom: 10px;
    font-size: 30px;
}
.section0 p{
    font-weight: 400;
    font-size: 23px;
    margin-top: 30px;
    color:rgb(108, 108, 112);
    font-size: 30px;
}


.precio_comprar{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}
.precio_comprar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.precio_comprar li{
    list-style-type: none;
    padding: 20px;
    display: inline-block;
    height: 80px;
}
.precio_comprar p{
    font-size: 25px;
    margin-top: 0px;
}

.precio_comprar a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
.section1 ul{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 1000px;
}
.section1 li{
    list-style-type: none;
    padding: 10px;
    display: flex;
    background-color: rgb(21, 21, 24);
    color: rgb(108, 108, 112);
    border-radius: 5px;
    margin-left: 35px;
    flex-wrap: wrap;
}

.section2{
    margin-top: 100px;
    margin-bottom: 25pxpx;
    text-align: center;
    align-items: center;
}
.section2_frase1 h2{
        margin-bottom: 10px;
        font-size: 65px;
        background: linear-gradient(rgb(108, 108, 112), whitesmoke); -webkit-background-clip: text;
  color: transparent;
}
.section2_frase1 p{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-top: 35px;
    font-size: 55px;
    color: rgb(108, 108, 112);
    background: linear-gradient(rgb(108, 108, 112), whitesmoke); -webkit-background-clip: text;
  color: transparent;
}

.box_principal{
    display: flex;
    height: 1000px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 45px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box_principal_img{
    display: flex;
    height: 550px;
    width: 750px;
} 
.box1{
    display: flex;
    height: 300px;
    width: 400px;
    text-align: center;
    align-items: center;
    font-size: 30px;
}





.section_conexion h2{
    text-align: center;
    font-size: 65px;
    margin-left: 65px;
    margin-right: 65px;
    background: linear-gradient(rgb(108, 108, 112), whitesmoke); -webkit-background-clip: text;
  color: transparent;
}
.section_conexion_imagenes{
    display: flex;
    margin-top: 25px;
    gap: 50px;
    height: 550px;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
    
}
.img1{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 40%;
}
.img2{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 40%;
}
.p_section_conexion p{
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
    color: rgb(108, 108, 112);
}

